@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.7;
  color: #333;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

code,
pre {
  background: #333;
  color: #fff;
  padding: 10px;
}

.hidden {
  visibility: hidden;
  height: 0;
}

/* Navbar */
.navbar {
  background-color: var(--primary-color);
  color: #fff;
  height: 95px;
}

.navbar .flex {
  justify-content: space-between;
}

.navbar ul {
  display: flex;
}

.navbar a {
  color: #fff;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 2px solid #fff;
}

.navbar h1 i:hover {
  color: #20b2aa;
}

.navbar h1:hover {
  color: #20b2aa;
}

/* Showcase */
.showcase {
  height: 400px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative;
}

.showcase h1 {
  font-size: 40px;
}

.showcase h1:hover {
  color: #20b2aa;
}

.showcase p {
  margin: 20px 0;
}

.showcase p:hover {
  color: #333;
}

.showcase-form h2 {
  color: #20b2aa;
}

/* Animations */
.showcase-text {
  animation: slideInFromLeft 2s ease-in;
}

.showcase .grid {
  overflow: visible;
  grid-template-columns: 55% 45%;
  gap: 30px;
}

.showcase .grid h2:hover {
  color: #20b2aa;
}

.showcase-form {
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100;
  animation: slideInFromRight 2s ease-in;
}

.showcase-form .form-control {
  margin: 35px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
  border: none;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.showcase-form input:focus {
  outline: none;
}

.showcase::before,
.showcase::after {
  content: '';
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background-color: #fff;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
}

/* Herocase */
.herocase .form-control input[type='text'],
.herocase .form-control input[type='email'],
.herocase .form-control input[type='password'] {
  border: none;
  padding: 18px 3px;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  margin-bottom: 15px 40px;
  cursor: pointer;
  font-size: 15px;
  color: #333;
  font-weight: bold;
}

.herocase .form-control input:focus {
  outline: none;
}

/* herocase */
.herocase .card {
  animation: slideInFromTop 2s ease-in;
}

.herocase h1 {
  text-transform: uppercase;
}

.herocase h1:hover {
  color: #333;
}

.herocase .form-control input[type='radio'] {
  margin-right: 40px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
}

/* Stats */
.stats {
  padding-top: 100px;
  animation: slideInFromBottom 2s ease-in;
}

.stats-heading {
  max-width: 500px;
  margin: auto;
  color: #20b2aa;
}

.stats-heading:hover {
  color: var(--primary-color);
}

.stats .grid h3 {
  font-size: 35px;
  color: var(--primary-color);
}

.stats .grid h3:hover {
  color: #20b2aa;
}

.stats .grid p {
  font-size: 20px;
  font-weight: bold;
  color: #20b2aa;
}

.stats .grid p:hover {
  color: var(--primary-color);
}

.stats .grid i {
  color: #20b2aa;
  transition: transform 0.2s ease-in;
}

.stats .grid i:hover {
  color: var(--primary-color);
  transform: translateY(-10px);
}

/* CLI */
.cli .grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.cli .card h3 {
  color: #20b2aa;
}

.cli .card h3:hover {
  color: var(--primary-color);
}

.cli .grid > *:first-child {
  color: none;
  transition: transform 0.2s ease-in;
}

.cli .grid > *:first-child:hover {
  transform: translateY(-10px);
}

/* Cloud */
.cloud .grid {
  grid-template-columns: 4fr 3fr;
}

.cloud .grid > div h2:hover {
  color: #333;
}

.cloud .grid > div h2 {
  color: #fff;
}

.cloud .grid div p:hover {
  color: #333;
}

.cloud img:hover {
  filter: brightness(10%);
}

/* Languages */

.languages .flex {
  flex-wrap: wrap;
}

.languages .card {
  text-align: center;
  margin: 18px 4px 40px;
  transition: transform 0.2s ease-in;
}

.languages .card h4 {
  font-size: 20px;
  margin-top: auto;
  color: #20b2aa;
}

.languages .card:hover {
  transform: translateY(-15px);
  filter: brightness(10%);
}

.languages h2 {
  color: #20b2aa;
}

.languages h2:hover {
  color: var(--primary-color);
}

/* Footer */
.footer .social a {
  margin: 0 8px;
}

.footer .grid nav a:hover {
  color: #20b2aa;
}

.footer .social a:hover {
  color: #20b2aa;
}

.footer .social i:hover {
  transform: scale(0.98);
}

/* Features */
.features-head img {
  width: 200px;
  justify-self: flex-end;
  transition: transform 0.2s ease-in;
}

.features-head img:hover {
  filter: brightness(10%);
  transform: translateX(-10px);
}

.features-head .grid h1:hover {
  color: #20b2aa;
}

.features-head .grid p:hover {
  color: #333;
}

.features-sub-head img {
  width: 300px;
  justify-self: flex-end;
  transition: transform 0.2s ease;
}

.features-sub-head img:hover {
  transform: translateX(-10px);
  filter: brightness(10%);
}

.features-sub-head .grid h2 {
  color: #20b2aa;
}

.features-sub-head .grid h2:hover {
  color: var(--primary-color);
}

.features-sub-head > div p:hover {
  color: #333;
}

.features-sub-head .grid p,
h2 {
  color: #20b2aa;
}

/* Main */
.features-main .card > i {
  margin-right: 20px;
}

.features-main .grid {
  padding: 30px;
}

.features-main .grid > *:first-child {
  grid-column: 1 / span 3;
}

.features-main .grid > *:nth-child(2) {
  grid-column: 1 / span 2;
}

.features-main .card p {
  color: #20b2aa;
}

.features-main .card p:hover {
  color: #333;
}

.features-main .card i {
  color: #20b2aa;
}

.features-main .card i:hover {
  color: #333;
}

.footer .grid h1:hover {
  color: #20b2aa;
}

/* Docs */
.docs-head img {
  width: 200px;
  justify-self: flex-end;
  transition: transform 0.2s ease-in;
}

.docs-head img:hover {
  transform: translateX(-10px);
  filter: brightness(10%);
}

.docs-head .grid h1:hover {
  color: #333;
}

.docs-head .grid p:hover {
  color: #333;
}

.docs-main h3 {
  margin: 20px 0;
}

.docs-main .grid {
  grid-template-columns: 1fr 2fr;
  align-items: flex-start;
}

.docs-main nav li {
  font-size: 17px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #ccc;
}

.docs-main a:hover {
  font-weight: bold;
  color: #20b2aa;
}

/* About me */

.main-me .grid {
  top: 75px;
}
.main-me .grid > div img,
.main-me .main-control > div img {
  margin-bottom: 30px;
  width: 500px;
  gap: 30px;
  padding: 20px 5px;
}

.main-me .grid img:hover {
  filter: brightness(10%);
}

.main-me .grid > div img {
  margin-right: 40px;
}

.main-me .main-control .grid > div img {
  margin-right: 20px;
}

.main-me .grid > div h1,
h2 {
  font-size: 35px;
  font-weight: bold;
  color: #fff;
}

.main-me .main-control p {
  margin-right: 30px;
  top: 60px;
}

.main-me .main-control h3 {
  font-weight: bold;
  font-size: 30px;
}

.main-me .grid > div p {
  margin-right: 30px;
  margin-bottom: 40px;
}

.main-me .grid > div p:hover {
  color: #333;
}

/* Main-nav */
.main-nav h2:hover {
  color: #20b2aa;
}

.main-nav h2 {
  margin-bottom: 60px;
}

.main-nav p:hover {
  color: #20b2aa;
}

.main-nav .grid > div img {
  margin: 20px 15px 40px;
  padding: 20px;
  margin-bottom: 10px;
}

.main-nav .grid > div img:hover {
  filter: brightness(10%);
}

/* Head-nav */
.head-nav h1 {
  font-weight: bold;
  font-size: 30px;
  padding: 40px;
  text-align: center;
  margin-bottom: 3px;
  top: 60px;
}

.head-nav h1:hover {
  color: #20b2aa;
}

.head-nav p {
  text-align: center;
  font-size: 20px;
  margin-bottom: 60px;
}

.head-nav p:hover {
  color: #333;
}

/* Cast */
.cast .form-control {
  position: relative;
  padding: 20px 0;
  margin: 10px 0;
  font-size: 25px;
  font-weight: bold;
}

/* Animations */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateX(0);
  }
}
@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateX(0);
  }
}

/* Responsiveness */
/* Tablets & under */
@media (max-width: 768px) {
  .grid,
  .showcase .grid,
  .stats .grid,
  .cli .grid,
  .cloud .grid,
  .features-main .grid,
  .docs-main .grid,
  .docs-head .grid,
  .features-head .grid,
  .features-sub-head .grid,
  .main-nav .grid,
  .main-me .grid,
  .footer .grid,
  .herocase .grid {
    grid-template-columns: 1fr;
  }

  .showcase {
    height: auto;
  }

  .showcase-text {
    text-align: center;
    margin-bottom: 20px;
    animation: slideInFromTop 2s ease-in;
  }

  .showcase-form {
    margin: auto;
    justify-self: center;
    animation: slideInFromBottom 2s ease-in;
  }

  .cli .grid > *:first-child {
    grid-column: 1;
  }

  .features-head,
  .features-sub-head,
  .docs-head {
    text-align: center;
    margin: auto;
  }

  .features-head img,
  .features-sub-head img,
  .docs-head img {
    justify-self: center;
  }

  .features-main .grid > *:first-child,
  .features-main .grid > *:nth-child(2) {
    grid-column: 1;
  }

  .main-me-text,
  .main-me .main-control {
    text-align: center;
    justify-self: center;
  }

  .herocase .card {
    align-items: center;
    justify-self: center;
    animation: slideInFromTop 2s ease-in;
  }

  .main-me img,
  .main-nav img {
    align-items: center;
    justify-self: center;
  }
}

/* Mobile */
@media (max-width: 500px) {
  .navbar {
    height: 110px;
  }

  .navbar .flex {
    flex-direction: column;
  }

  .navbar ul {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
